.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.background{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:1200px;

  background-image:url("./sbg.png");
  background-size:cover;
  background-position:center;

  filter: blur(0px);

  z-index:-1;
}
.main-container{
        display: flex;
    flex-direction: column;
    
    align-items: center;
    position: relative;
}
.main-text{
   display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.text-cards img{
    width: 509px;
    height: 200px;
    
    
}
.text-cards{
        position: absolute;
        display: flex;
        width: 500px;
        top: 200px;
        flex-direction: column;
        gap: 20px;

    }
    .sak{
        position: absolute;
        bottom: 40px;
        font-weight: bold;
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
    }
    .over{
        position: absolute;
        bottom: 130px;
        left: 20px;
        font-weight: bold;
        font-size: 30px;
    }
    .text-card2 img{
        width: 250px;
        position: absolute;
        left: 2px;
        margin-top: 20px;
    }
    .tr{
        position: absolute;
        max-width: 200px;
        margin-top: 70px;
        left: 50px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .hosp{
        font-weight: bold;
    }
    .tr2{
        position: absolute;
        max-width: 200px;
        margin-top: 140px;
        left: 50px;
    }
    .text-card3 img{
        position: absolute;
        width: 250px;
        margin-left: 9px;
        
        
    }
    .tr3{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 10px    ;
        
        left: 250px;
        margin-top: 50px;
        font-size: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: start;
    }
    .anime{
        font-weight: bold;
    }
    .grade{
        font-weight: bold;
    }
    .gruh{
        margin-right: 118px;
    }
   
    .prih{
        font-weight: bold;

    }
    .part{
        margin-right: 0px;
    }
    .klih{
        font-weight: bold;
    }
    .glih{
        font-weight: bold;
    }
   .mai{
    position: relative;
    display: flex;
    margin-left: 520px;
    bottom: 246px;
   
   }
   .mai img{
    border-radius: 5%;
    border-style: double;
    width: 200px;
   }
    .saku{
    position: relative;
    display: flex;
    margin-left: 750px;
    bottom: 246px;
   
   }
   .saku img{
    border-radius: 5%;
    border-style: double;
    width: 200px;
   }
       .sam{
    position: relative;
    display: flex;
    margin-left: 520px;
    bottom: px;
   
   }
   .sam img{
    border-radius: 5%;
    border-style: double;
    width: 200px;
   }
          .feed{
    position: relative;
    display: flex;
    margin-left: 750px;
    bottom: px;
   
   }
   .feed img{
    border-radius: 5%;
    border-style: double;
    width: 200px;
   }
   h1{
    font-family: 'Luckiest Guy';
    color: brown;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
   }
   h2{
    color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
   }
   .btn{
    position: absolute;
    display: flex;
    margin-top: 240px;
    left: 250px;
   }
   .final{
    background-color: #212738;
    border-radius: 7%;
    color: white;
   }

  